# Importando base de datos

In [1]:
import pandas as pd

In [3]:
pd.read_csv('credit_card.csv')

,LIMIT_BAL,CHECKING_ACCOUNT,EDUCATION,MARRIAGE,AGE,BILL_AMT,PAY_AMT,DEFAULT
0,6022,Yes,2.University,Married,24,934.0122,0.0000,1
1,36132,Yes,2.University,Single,26,519.3975,0.0000,1
2,27099,Yes,2.University,Single,34,4223.5297,457.0698,0
3,15055,Yes,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0
...,...,...,...,...,...,...,...,...
1495,54198,Yes,3.Graduate School,Single,27,295.0780,0.0000,1
1496,45165,No,2.University,Married,55,23637.8555,1144.1800,0
1497,78286,No,3.Graduate School,Single,34,962.9178,962.9178,0
1498,6022,No,2.University,Married,44,864.7592,864.7592,0
1499,183671,No,3.Graduate School,Single,31,97022.8508,97022.8508,0

In [4]:
datos = pd.read_csv('credit_card.csv')

In [6]:
datos.head()

,LIMIT_BAL,CHECKING_ACCOUNT,EDUCATION,MARRIAGE,AGE,BILL_AMT,PAY_AMT,DEFAULT
0,6022,Yes,2.University,Married,24,934.0122,0.0000,1
1,36132,Yes,2.University,Single,26,519.3975,0.0000,1
2,27099,Yes,2.University,Single,34,4223.5297,457.0698,0
3,15055,Yes,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0

In [7]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LIMIT_BAL         1500 non-null   int64
 1   CHECKING_ACCOUNT  1500 non-null   object
 2   EDUCATION         1500 non-null   object
 3   MARRIAGE          1500 non-null   object
 4   AGE               1500 non-null   int64
 5   BILL_AMT          1500 non-null   float64
 6   PAY_AMT           1500 non-null   float64
 7   DEFAULT           1500 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 93.9+ KB

# Traduciendo variables

In [8]:
datos.columns

Index(['LIMIT_BAL', 'CHECKING_ACCOUNT', 'EDUCATION', 'MARRIAGE', 'AGE',
       'BILL_AMT', 'PAY_AMT', 'DEFAULT'],
      dtype='object')

In [9]:
dic_columnas = {
    'LIMIT_BAL': 'limite',
    'CHECKING_ACCOUNT': 'cuenta_corriente', 
    'EDUCATION': 'escolaridad', 
    'MARRIAGE': 'estado_civil', 
    'AGE': 'edad',
    'BILL_AMT': 'valor_factura', 
    'PAY_AMT': 'valor_pago', 
    'DEFAULT': 'moroso'
}

In [10]:
tarjetas = datos.rename(columns = dic_columnas)

In [11]:
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,edad,valor_factura,valor_pago,moroso
0,6022,Yes,2.University,Married,24,934.0122,0.0000,1
1,36132,Yes,2.University,Single,26,519.3975,0.0000,1
2,27099,Yes,2.University,Single,34,4223.5297,457.0698,0
3,15055,Yes,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0

In [12]:
tarjetas.cuenta_corriente.unique()

array(['Yes', 'No'], dtype=object)

In [13]:
dic_cuenta = {
    'Yes': 'Si',
    'No': 'No'
}

In [14]:
tarjetas.cuenta_corriente.map(dic_cuenta)

0       Si
1       Si
2       Si
3       Si
4       No
        ..
1495    Si
1496    No
1497    No
1498    No
1499    No
Name: cuenta_corriente, Length: 1500, dtype: object

In [15]:
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,edad,valor_factura,valor_pago,moroso
0,6022,Yes,2.University,Married,24,934.0122,0.0000,1
1,36132,Yes,2.University,Single,26,519.3975,0.0000,1
2,27099,Yes,2.University,Single,34,4223.5297,457.0698,0
3,15055,Yes,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0

In [16]:
tarjetas.cuenta_corriente = tarjetas.cuenta_corriente.map(dic_cuenta)

In [18]:
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,edad,valor_factura,valor_pago,moroso
0,6022,Si,2.University,Married,24,934.0122,0.0000,1
1,36132,Si,2.University,Single,26,519.3975,0.0000,1
2,27099,Si,2.University,Single,34,4223.5297,457.0698,0
3,15055,Si,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0

In [19]:
tarjetas.escolaridad.unique()

array(['2.University', '3.Graduate School', '1.High School'], dtype=object)

In [20]:
dic_escolaridad = {
    '2.University': '2.Universidad', 
    '3.Graduate School': '3.Pos-graduación', 
    '1.High School': '1.Colegio'
}

In [21]:
tarjetas.escolaridad = tarjetas.escolaridad.map(dic_escolaridad)

In [22]:
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,edad,valor_factura,valor_pago,moroso
0,6022,Si,2.Universidad,Married,24,934.0122,0.0000,1
1,36132,Si,2.Universidad,Single,26,519.3975,0.0000,1
2,27099,Si,2.Universidad,Single,34,4223.5297,457.0698,0
3,15055,Si,2.Universidad,Married,37,14522.9563,602.2000,0
4,150550,No,3.Pos-graduación,Single,29,124060.1253,16560.5000,0

In [23]:
tarjetas.estado_civil.unique()

array(['Married', 'Single'], dtype=object)

In [24]:
dic_estado_civil = {
    'Married': 'Casado/a',
    'Single': 'Soltero/a'
}

In [25]:
tarjetas.estado_civil = tarjetas.estado_civil.map(dic_estado_civil)

In [26]:
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,edad,valor_factura,valor_pago,moroso
0,6022,Si,2.Universidad,Casado/a,24,934.0122,0.0000,1
1,36132,Si,2.Universidad,Soltero/a,26,519.3975,0.0000,1
2,27099,Si,2.Universidad,Soltero/a,34,4223.5297,457.0698,0
3,15055,Si,2.Universidad,Casado/a,37,14522.9563,602.2000,0
4,150550,No,3.Pos-graduación,Soltero/a,29,124060.1253,16560.5000,0